
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-align: left;
  }
  
  header {
    background-color: #fff;
    padding: 10px 0;
    display: inline-block;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    border-bottom: 1px solid #fff;
    width: 100%;
    position: fixed;
  }

  .logo.logo-img {
   height: 80px;
   width: auto;
   padding-inline: 10px;
}


body {
    background:hsl(0 0% 93.7%);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: .02em;
    color: hsl(0, 0%, 0% / 1.0);
}


h1, h2, h3, h4 {
    line-height: 1.2;
    font-weight: 700;
}

h1
{
    font-size:2em;
    text-align: center;
    padding: 55px;
}
h2
{
    font-size: 1.5em; 
}
h3
{
    font-size: 1.1em;
    padding: 15px;
}
h4
{
    font-size: 0.9em; 
}
img {
    width: 100%;
}
p
{
    font-size: 1em;  
    padding: 5px;
}

a {
    color: hsl(240 100% 82%);
    }
    a:visited {
    color: hsl(240 100% 82%);
    }
    a:hover, a:focus{
     color: hsl(240 100% 66%);
     text-decoration: none;
    }
    a:active {
     color: hsl(240 100% 66%);
     text-decoration: none;
    }

    .btn {
        background: hsla(201, 79%, 64%, 0.966);
        padding: 10px 30px;
        display: inline-block;
        text-decoration: none;
        border-radius: 50px;
        border: none;
        padding: 10px;
        color: hsl(0, 29%, 92%);
        transition: all 0.5s;
        cursor: pointer;
        text-align: center;
        justify-content: center;
        margin: 5px;
    }
    .btn:visited {
        color: hsl(0,0%,100%);
        cursor: pointer;
        display: inline-block;
        transition: 0.5s;
        
    }
    .btn:hover, .btn:focus{
     background: hsl(240 100% 82%);
     color: hsl(240 100% 66%);
     opacity: 2;
     top: 0;
     right: -20px;
     left: -20px;
     transition: 0.5s;
     padding-right: 25px;
    }

    .btn:active {
    background: hsl(240 100% 82%);
     color: hsl(201 79% 64% 0.966);
     opacity: 2;
     top: 0;
     right: -40px;
     transition: 0.5s;
     padding: 25px;
    }

    .btn-secondary {
    background: hsl(201 79% 64%);
    border: 2px solid #fff;
    color: hsl(240 100% 66%);
    opacity: 2;
    right: 0;
  
}

section.hero  {
   padding: 10px;
   display: flex;
   justify-content: centre;
   text-align: justify;
}

.container {
    padding: 0 15px;
    max-width: 100%;
    width: 1300px;
    margin: 0px auto;
  }
  
section {
    padding: 5px 0;
    text-align: center;
}

main {
    padding-top: 105.99px;
  }
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5em;
    justify-content: end;
}
  nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}
header .container {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 0.5em;
    
}
.logo {
text-align: justify;
width: 101px;
justify-content: space-between;
align-items: center;
display: flex;
font-size: 0.5em;
text-decoration: none;
}

.key-list{
    padding: 35px;
    justify-content: center;
}

.project-card {
display: flex;
flex-direction: column-reverse;
gap: 2em;
box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.29);
border-radius: 16px;
overflow: hidden;
}

.project-wrapper {
display:flex;
flex-direction: column;
gap: 3em;
}

.project-card_content-wrapper {
padding: 0 1em 1em 1em;
}

.hero-about .hero__media-wrapper img {
aspect-ratio: 10/16;
object-fit: cover;
object-position: 0 35%;

}
 
.key-list{
   padding: 5px;
    }
.list ul {
text-align: left;
padding: 8px;
}

@media (min-width: 767px) {
.project-card {
    flex-direction: row-reverse;
}
.project-card_content-wrapper,
.project-card_media-wrapper {
    width: 50%;
    display: flex;
}
.project-card_content-wrapper {
    flex-direction: column;
    align-items:  center;
    justify-content: center ;
}
.project-card_media-wrapper img {
    aspect-ratio: 16/9;
    object-fit: cover;
}
}
