h1
{
    font-size: 20px;
    display: block;
    font-weight: bold;
    color: black;
}
h2
{
    font-size: 20px;
    color: black;
    font-weight: bold
}
h3
{
    font-size: 17px;
    color: black;
    font-weight: bolder
}
p
{
    font-size: 17px;
    font-weight: lighter;
    color: black;
}